.container2 {
  display: block;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(to bottom, #2E2B38 0%, #282642 100%);
}

.circle{
  position: absolute;
  border-radius: 50%;
  background: white;
  animation: ripple 15s infinite;
  box-shadow: 0px 0px 1px 0px #508fb9;
}

.small{
  width: 200px;
  height: 200px;
  left: -100px;
  top:34vh;
}

.medium{
  width: 400px;
  height: 400px;
  left: -200px;
  top:23vh;
}

.large{
  width: 600px;
  height: 600px;
  left: -300px;
  top:12vh;
}

.xlarge{
  width: 800px;
  height: 800px;
  left: -400px;
  top:1vh;
}

.xxlarge{
  width: 1000px;
  height: 1000px;
  left: -500px;
  top:-9vh;
}

.shade1{
  background-color: #2D5161;
}
.shade2{
  background-color: #1A847A;
}

.shade3{
  background-color: #00A68A;
}
.shade4{
  background-color: #00FFC7;
}
.shade5{
  background-color: #64FFDA;
}

@keyframes ripple{
  0%{
    transform: scale(0.8);
  }

  50%{
    transform: scale(1.3);
  }

  100%{
    transform: scale(0.8);
  }
}
.justify-text{
  text-align: justify;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.about-text{
  position:relative;
  animation: animateleft 3.5s;
}
@keyframes animateright {
  from{
    right:-300px;
    opacity:0;
  }
  to{
    right:0;
    opacity:1;
  }
}
@keyframes animateleft {
  from{
    left:-300px;
    opacity:0;
  }
  to{
    left:0;
    opacity:1;
  }
}
.about{
  display: inline-block;
  font-family: "montserrat-medium", sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  height: 4.0rem;
  padding: 0 2rem;
  color: white;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: transparent;
  border: .2rem solid #c5c5c5;
}
.about:hover{
  background-color: white;
  color: black;
  outline: 0;
}


