@import "../variables/colors";
.container21{
  background: $main-color;
}
.contact-social .social1 li {
  display: inline-block;
  padding-top: 20%;
  text-align: center;
}

.contact-social .social1 li:last-child
{
  font-size: 45px;
}

.contact-social .social1 li {
  display: inline-block;
  padding-top: 2%;
  padding-left: 2%;
  position: relative;
}

.contact-social .social1 li:last-child
{
  margin-right: 0;
  font-size: 20px;
}

.contact-social .social1 li a {
  display:block;
  width: 20px;
  position: relative;
  height: 20px;
  line-height:30px ;
  font-size: 2.5vw;
  border-radius: 4px;
  text-align: center;
  transition: all 0.3s ease-in-out 0s;
  color: #F4F2F5;
}

.contact-social .social1 li a:hover{
  text-decoration: none;
}

.contact-social .social1 li a.fa-instagram{

 font-size: 1.7vw;
}
.contact-social .social1 li a.fa-facebook{

 font-size: 1.7vw;
}
.contact-social .social1 li a.fa-youtube{

 font-size:1.7vw;
}
.contact-social .social1 li a.fa-envelope{

 font-size: 1.7vw;
}
.contact-social .social1 li a.fa-twitter{

 font-size: 1.7vw;
}
.contact-social .social1 li a.fa-twitter:hover{
  background-color: $light-blue;
}
.map{
  height:70px;
}
.call{
  height:80px;
}
.map:hover,
.call:hover{
  transform: scale(1.2);
  transition: 0.2s ease-in-out;
}
@media (max-width: 767px) {
  .contact-center{
    text-align: center;
  }
}

@media (max-width : 1024px) {
  .contact-social .social1 li a.fa-twitter {
    font-size: 25px;
  }
  .contact-social .social1 li a.fa-youtube {
    font-size: 25px;
  }
  .contact-social .social1 li a.fa-envelope {
    font-size: 25px;
  }
  .contact-social .social1 li a.fa-facebook {
    font-size: 25px;
  }
  .contact-social .social1 li a.fa-instagram {
    font-size: 25px;
  }
}
.container21 p{
  color: #f4f2f5;
  font-size:20px;
}
.container21 h1{
  color: white;
  margin-bottom: 2vh;
  font-size:40px;
  margin-top: 5vh;
}