@import "../../assets/variables/colors";
.row5 {
  width: 94%;
  max-width: 1000px;
  margin: 0 auto;
}
.row5:after {
  content: "";
  display: table;
  clear: both;
}

.col-full {
  width: 100%;
  margin-bottom:0;
}
.btn-primary:hover{
  background-color:#212121;
  color:black;
  border: 2px solid white;
}
fieldset {
  border: none;
}
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  display: block;
  height: 6rem;
  padding: 1.5rem 0;
  border: 0;
  outline: none;
  color: #333333;
  font-family: "montserrat-light", sans-serif;
  font-size: 2.0rem;
  line-height: 3rem;
  width:100%;
  background: transparent;
  border-bottom: 2px solid rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
textarea {
  min-height: 25rem;
}
button{
  display: inline-block;
  font-family: "montserrat-medium", sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .3rem;
  height: 4.0rem;
  padding: 0 2rem;
  color: #000000;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #c5c5c5;
  border: .2rem solid #c5c5c5;
}
button:hover,
button:focus {
  background-color: $light-grey;
  border-color: $light-grey;
  color: #000000;
  outline: 0;
}
//button.btn--primary {
//  background: $main-color;
//  border-color: $main-color;
//  color: black;
//}
//.btn.btn--primary:hover{
//  background: $main-color;
//  border-color: $main-color;
//}

.subhead {
  font-family: "montserrat-bold", sans-serif;
  font-size: 3.0rem;
  line-height: 1.333;
  text-transform: uppercase;
  letter-spacing: .25rem;
  color: #F4F2F5;
  margin-top: 0;
  margin-bottom: 0;
}
.section-header {
  text-align: center;
  position: relative;
  margin-bottom: 3.6rem;
  max-width: 960px;
}
.s-header {
  width: 100%;
  height: 96px;
  background-color: transparent;
  position: absolute;
  top: 0;
  z-index: 500;
}
.s-contact {
  background-color: $light-black;
  background-repeat: no-repeat;
  background-position: center, center;
  padding-top: 15rem;
  padding-bottom: 12rem;
  color: $light-grey;
  position: relative;
}
.s-contact .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .8;
  background-color: $light-black;
}
.s-contact .form-field {
  position: relative;
}
.s-contact .form-field:after {
  content: "";
  display: table;
  clear: both;
}
.s-contact .form-field label {
  font-family: "montserrat-light", sans-serif;
  font-size: 0.8rem;
  line-height: 1rem;
  position: absolute;
  bottom: -0.3rem;
  right: .6rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  padding: 0 2rem;
  margin: 0;
  color: black;
  background: #F4F2F5;
}
.s-contact .form-field label::after {
  content: "";
  position: absolute;
  left: -5px;
  top: 50%;
  margin-top: -6px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid $main-color;
}
.contact__line {
  display: block;
  width: 2px;
  height: 20.4rem;
  background-color: $main-color;
  position: absolute;
  left: 50%;
  top: -10.2rem;
  margin-left: -1px;
}
.contact-content {
  max-width: 1000px;
  background-color: $dark-grey;
  color: $light-grey;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-family: "montserrat-light", sans-serif;
  font-size: 1.5rem;
  line-height: 2;
  margin-top: -6%;
  position: relative;
}
.contact-content h3 {
  margin-top: 3rem;
  margin-bottom: 5rem;
  color: white;
}
.contact-content h5 {
  margin-top: 0;
  color: $main-color;
}
.contact-primary, .contact-secondary {
  float: left;
  padding: 0 5rem;
}
.contact-primary {
  width: 65%;
}
.contact-primary #contactForm {
  margin-top: -1.5rem;
}
.contact-secondary {
  width: 35%;
}
.contact-secondary::before {
  content: "";
  display: block;
  width: 35%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: black;
}
.contact-secondary .contact-info {
  position: relative;
}
.contact-secondary .cinfo {
  margin-bottom: 2rem;
}
.contact-social {
  display: inline-block;
  font-size: 2.5rem;
  //margin-right:18%;
  letter-spacing: 2px;
}
.contact-social li {
  display: inline-block;
}
.contact-social li a {
  color: $light-grey;
}
.contact-social li a:hover,
.contact-social li a:focus {
  color: $main-color;
}
.contact-social li:last-child {
  margin: 0;
}
.message-warning,
.message-success {
  display: none;
  background: black;
  font-size: 1.2rem;
  line-height: 2;
  padding: 3rem;
  margin-bottom: 3.6rem;
  width: 100%;
}
.message-warning {
  color: $light-red;
}
.message-success {
  color: $main-color;
}
.message-warning i, .message-success i {
  margin-right: 10px;
  font-size: 1.2rem;
}
