@import "../../assets/variables/colors";
.container16{
  background: linear-gradient(to bottom, #2E2B38 0%, #282642 100%);
}
.contact-social .social1 li {
  display: inline-block;
  padding-top: 20%;
  text-align: center;
}

.contact-social .social1 li:last-child
{
  //margin-right: 0;
  font-size: 45px;
}

.contact-social .social1 li {
  display: inline-block;
  padding-top: 2%;
  padding-left: 2%;
  //margin-bottom: 3%;
  position: relative;
}

.contact-social .social1 li:last-child
{
  margin-right: 0;
  font-size: 20px;
}

.contact-social .social1 li a {
  display:block;
  width: 20px;
  position: relative;
  height: 20px;
  line-height:30px ;
  font-size: 2.5vw;
  border-radius: 4px;
  //margin-right: 20%;
  //margin-bottom: 10%;
  text-align: center;
  transition: all 0.3s ease-in-out 0s;
  color: #F4F2F5;
}

.contact-social .social1 li a:hover{
  text-decoration: none;
}

.contact-social .social1 li a.fa-instagram{

 font-size: 1.7vw;
}
.contact-social .social1 li a.fa-facebook{

 font-size: 1.7vw;
}
.contact-social .social1 li a.fa-youtube{

 font-size:1.7vw;
}
.contact-social .social1 li a.fa-envelope{

 font-size: 1.7vw;
}
.contact-social .social1 li a.fa-twitter{

 font-size: 1.7vw;
}
.map{
  height:120px;
}
.call{
  height:100px;
}
.map:hover,
.call:hover{
  transform: scale(1.2);
  transition: 0.2s ease-in-out;
}