@import "../../assets/variables/_colors.scss";

.container6{
  position: relative!important;
  width: 100%;
  padding-right: 8%;
  padding-left: 5%;
  margin-right: auto;
  margin-left: auto;
}

.our-teams {
  overflow: hidden;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  position: relative;
  //margin-left: 15%;
  //margin-bottom: 10%;
  //    margin-right:20%;
  width: 99%;
  height: 90%;

}

.our-teams img{
  width:100%;
  height: 100%;
  position: relative;
  right:0;
  //margin-top: 40px;
  transition: all 0.4s ease-in-out 0s;

}


.our-teams:hover img{
  right:5rem;}

.our-teams .team-content{
  width: 85%;
  height: 100%;
  background: linear-gradient(to right, #11998e, #38ef7d);;
  padding: 10% 10px 20px;
  bottom:0;
  top:0;
  position: absolute;
  right: -90%;
  transition: all 0.4s ease-in-out 0s;
  text-align: center;
  margin-left: 20px;
}
.our-teams:hover .team-content
{
  right: 0;

}
.our-teams .title
{
  font-size:1vw;
  color: black;
  margin: 10px 0 10px 0;
  font-weight: bold;

}
.our-teams .post
{
  display:block;
  font-size:0.8vw;
  font-weight:100;
  color: #333;
  text-transform: uppercase;
  margin-bottom: 20px;
}


.our-teams  .social {
  padding: 0;
  margin: 0;
  letter-spacing: 10px;
  list-style: none;
}

.our-teams .social li {
  display: inline-block;
  padding-top: 20%;
  text-align: center;
}

.our-teams .social li:last-child
{
  margin-right: 0%;
  font-size: 45px;
}

.our-teams .social li {
  display: inline-block;
  padding-top: 2%;
  position: relative;
}

.our-teams .social li:last-child
{
  margin-right: 0;
  font-size: 20px;
}

.our-teams .social li a {
  display:block;
  width: 20px;
  position: relative;
  height: 20px;
  line-height:20px ;
  font-size: 2vw;
  border-radius: 4px;
  margin-right: 20%;
  margin-bottom: 10%;
  text-align: center;
  transition: all 0.3s ease-in-out 0s;
  color: black;
}

.our-teams .social li a:hover{
  text-decoration: none;
}

.our-teams .social li a:hover{
  color: white;

}
.our-teams .social li a.fa-instagram{
  font-size: 1.5vw;

}
.our-teams .social li a.fa-linkedin{
  font-size: 1.5vw;

}
.our-teams .social li a.fa-github{
  font-size: 1.5vw;
}
.our-teams .social li a.fa-envelope{
  font-size: 1.5vw;
}

.our-teams .social li a.fa-instagram:hover{
  background: $dark-pink;
  font-size: 1.3vw;
  padding-left: 12%;
}
.our-teams .social li a.fa-linkedin:hover{
  background: $light-blue;
  padding-left: 12%;
  font-size: 1.3vw;
}
.our-teams .social li a.fa-github:hover{
  background: black;
  font-size: 1.3vw;
  padding-left: 12%;
}
.our-teams .social li a.fa-envelope:hover{
  background: $dark-red;
  font-size: 1.3vw;
  padding-left: 10%;
}