@import "../variables/_colors.scss";
.card{
  padding-left: 20%;
  box-shadow: 0 8px 12px 0 rgba(250, 247, 247, 0.3) ;
  transition: 0.3s;
  width:70%;
  height: 100%;
  background: #F5F5F5;
  text-align: center;
  font-size:14px;
  font-family:sans-serif;
}
.faculty-animation h3{
  color:#212121;
  font-size: 40px;
  font-weight:500;
}
#faculty .btn{
  font-size: 50px;
  float: right;
  margin-right: 5%;
  color: black;
}
#faculty{
  display: none;
}
.card:hover
{
  box-shadow:0 12px 20px 0 rgba(250, 247, 247, 0.4);
  transform: scale(1.1);
}
.faculty-animation{
  position:relative;
  animation: animateleft 3.5s;
}

@keyframes animateleft {
  from{
    left:-300px;
    opacity:0;
  }
  to{
    left:0;
    opacity:1;
  }

}
.container7{
  background-color: $color-primary;
}