.gallery-h1{
  position: relative;
  font-size: 60px;
  color:#F4F2F5;
  text-align: center;
}
.gallery1{
  display: flex;
  flex-direction: row;
  width:90%;
  height: 60vh;
  margin-left:4%;
  margin-top:6vh;
  margin-bottom: 10vh;
}
.item1{
  flex:1;
  height:100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition:flex 0.8s ease;

}
.item1:hover{
  flex:15 ;
}
.container4{
  display: block;
  position: relative;
  height: auto;
  overflow: hidden;
}
