@import "../variables/class";
@import "animate";
@import "textAnimate";
@import "portfolio";
@import "about";
@import "gallery";
@import "contact";
@import "coordinators";
@import "faculty";
@import "magazine";
@import "event";
@import 'core';
@import 'easing';
@import 'services.scss';
@import 'animations';
@import "development";
@import "topNav";
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Domine');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import "wave";
@import "topbtn";
@import "scrollbtn";
@import "video";
@import "preloader";

@font-face {
  font-family: deceptibots;
  src: url("../fonts/deceptibots.ttf");
}

body {
  font-family: 'Quicksand', sans-serif;
}
#shut,
#shut1{
  display:none;
}
.row{
  width: 100%;
}
a{
  text-decoration: none;
}