@import "../variables/class";
@import "animate";
@import "textAnimate";
@import "portfolio";
@import "about";
@import "gallery";
@import "contact";
@import "coordinators";
@import "faculty";
@import "magazine";
@import "event";
@import 'core';
@import 'easing';
@import 'animations';
@import "development";
@import "topNav";
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Domine');
@import "wave";
@import "topbtn";

body {
  font-family: 'Domine', serif;
}
#shut,
#shut1{
  display:none;
}
