@import "../variables/class";
@import "animate";
@import "textAnimate";
@import "portfolio";
@import "about";
@import "gallery";
@import "contact";
@import "coordinators";
@import "faculty";
@import "magazine";
@import "event";
@import 'core';
@import 'easing';
@import 'animations';
@import "development";
@import "topNav";
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Domine');
@import "wave";
@import "topbtn";

body {
  font-family: 'Domine', serif;
}
#shut,
#shut1{
  display:none;
}
.pre-loader {
  div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: inset 0 50px 150px rgba(0, 0, 0, 1);
    //border-bottom: 1px solid #fff;
    z-index: 1;
    animation:animate 1s ease-in-out forwards;
  }
  @keyframes animate {
    0%{
      transform:translate(-50%,-50%) scale(0);
    }
    100%{
      transform:translate(-50%,-50%) scale(1);
    }
  }
  div:nth-child(1) {
    width: 1500px;
    height: 1500px;
    animation-delay: 0s;
    overflow: hidden;
  }

  div:nth-child(2) {
    width: 1250px;
    height: 1250px;
    animation-delay: 0.5s;
  }

  div:nth-child(3) {
    width: 1000px;
    height: 1000px;
    animation-delay: 1s;
  }
  div:nth-child(4) {
    width: 750px;
    height: 750px;
    animation-delay: 1.5s;
  }
  div:nth-child(5) {
    width: 500px;
    height: 500px;
    animation-delay: 2s;
  }
  div:nth-child(5) img{
    max-width:250px;
    z-index: -1;
    transform:translateY(500px);
    animation-delay: 3s;
    animation:animateLogo 1s ease-in-out forwards;
  }
  @keyframes animateLogo {
    0%{
      transform: translateY(500px);
    }
    100%{
      transform: translateY(0px);
    }
  }
}


///* Preloader */
//
//#preloader {
//  position: fixed;
//  top: 0;
//  left: 0;
//  right: 0;
//  bottom: 0;
//  background-color: #fff;
//  /* change if the mask should have another color then white */
//  z-index: 99;
//  /* makes sure it stays on top */
//}
//
//#status {
//  width: 200px;
//  height: 200px;
//  position: absolute;
//  left: 50%;
//  /* centers the loading animation horizontally one the screen */
//  top: 50%;
//  /* centers the loading animation vertically one the screen */
//  background-image: url(https://raw.githubusercontent.com/niklausgerber/PreLoadMe/master/img/status.gif);
//  /* path to your loading animation */
//  background-repeat: no-repeat;
//  background-position: center;
//  margin: -100px 0 0 -100px;
//  /* is width and height divided by two */
//}