@import "../variables/_colors.scss";
.stretcher-wrapper {
  padding-bottom: 0;
}
.stretcher-wrapper.stretcher-wrapper-noheader {
  padding-top: 0;
}
.stretcher-wrapper .section-header {
  background-color: #e6e6ff;
  position: relative;
}
.stretcher-wrapper .section-header:before {
  content: '';
  position: absolute;
  border-width: 20px 20px 0 20px;
  border-style: solid solid solid solid;
  border-color: #fff transparent #fff;
  left: 50%;
  z-index: 2;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.stretcher-wrapper .stretcher {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  font-size: 0;
  margin: 0;
  padding: 0;
}
.stretcher-wrapper .stretcher .stretcher-item {
  position: relative;
  background-size: cover;
  background-position: center;
  display: block;
  width: 100%;
  height: 30vh;
  overflow: hidden;
  -moz-transition: width .5s;
  -o-transition: width .5s;
  -webkit-transition: width .5s;
  transition: width .5s;
}
.stretcher-wrapper .stretcher .stretcher-item > a {
  position: absolute;
  width: 100%;
  height: 100%;
  -moz-transform: translate3d(0, 100%, 0);
  -ms-transform: translate3d(0, 100%, 0);
  -o-transform: translate3d(0, 100%, 0);
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  z-index: 99;
}
.stretcher-wrapper .stretcher .stretcher-item:hover > a {
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.stretcher-wrapper .stretcher .stretcher-item.more {
  background-color: #002639;
  position: relative;
  height: 80px;
}
.stretcher-wrapper .stretcher .stretcher-item.more a {
  position: absolute;
  width: 50%;
  height: 100%;
}
.stretcher-wrapper .stretcher .stretcher-item.more .more-icon {
  font-size: 70px;
  color: #e6e6ff;
  position: absolute;
  left: 50%;
  top: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.stretcher-wrapper .stretcher .stretcher-item.more .more-icon, .stretcher-wrapper .stretcher .stretcher-item.more .more-icon span {
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s;
}
.stretcher-wrapper .stretcher .stretcher-item.more .more-icon span {
  display: inline-block;
}
.stretcher-wrapper .stretcher .stretcher-item.more .more-icon span:before, .stretcher-wrapper .stretcher .stretcher-item.more .more-icon span:after {
  position: absolute;
  left: 50%;
  top: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s;
  white-space: nowrap;
}
.stretcher-wrapper .stretcher .stretcher-item.more .more-icon span:before {
  content: attr(data-title-show);
  opacity: 0;
  font-size: 16px;
}
.stretcher-wrapper .stretcher .stretcher-item.more .more-icon span:after {
  content: attr(data-title-hide);
  opacity: 1;
}
.stretcher-wrapper .stretcher .stretcher-item.more:hover .more-icon span:before {
  opacity: 1;
}
.stretcher-wrapper .stretcher .stretcher-item.more:hover .more-icon span:after {
  opacity: 0;
}
@media(min-width: 992px) {
  .stretcher-wrapper .stretcher .stretcher-item.more, .stretcher-wrapper .stretcher .stretcher-item.more.inactive {
    width: 8%;
  }
  .stretcher-wrapper .stretcher .stretcher-item.more.active {
    width: 28%;
  }

  .stretcher-wrapper .stretcher .stretcher-item.more.more {
    height: 100%;
  }
}
.stretcher-wrapper .stretcher .stretcher-item.inactive, .stretcher-wrapper .stretcher .stretcher-item.active {
  width: 100%;
}
@media(min-width: 992px) {
  .stretcher-wrapper .stretcher .stretcher-item {
    width: 23%;
    height: 100%;
    display: inline-block;
  }
  .stretcher-wrapper .stretcher .stretcher-item.inactive {
    width: 18%;
  }
  .stretcher-wrapper .stretcher .stretcher-item.active {
    width: 38%;
  }
}
.stretcher-wrapper .stretcher .stretcher-item .stretcher-logo {
  background-color: $mag-color;
  opacity: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  -moz-transition: opacity .2s;
  -o-transition: opacity .2s;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
  font-size: initial;
  color: #e6e6ff;
  padding-left: 2%;
}
.stretcher-wrapper .stretcher .stretcher-item .stretcher-logo img, .stretcher-wrapper .stretcher .stretcher-item .stretcher-logo .text {
  position: absolute;
  left: 60%;
  top: 60%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.stretcher-wrapper .stretcher .stretcher-item .stretcher-logo .text {
  text-align: center;
}
.stretcher-wrapper .stretcher .stretcher-item .stretcher-logo .text .f-icon {
  font-size: 100px;
}
.stretcher-wrapper .stretcher .stretcher-item .stretcher-logo .text .text-intro {
  display: block;
}
.stretcher-wrapper .stretcher .stretcher-item:hover .stretcher-logo {
  opacity: 0;
}

.stretcher-wrapper .stretcher .stretcher-item figure {
  background-color: $mag-color;
  color: #e6e6ff;
  position: absolute;
  z-index: 9;
  font-size: initial;
  padding: 20px 10px;
  width: 100%;
  left: 0;
  bottom: 0;
  -moz-transform: translate3d(0, 100%, 0);
  -ms-transform: translate3d(0, 100%, 0);
  -o-transform: translate3d(0, 100%, 0);
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s;
}
.stretcher-wrapper .stretcher .stretcher-item figure figcaption {
  white-space: normal;
  font-size: 13px
}
.stretcher-wrapper .stretcher .stretcher-item figure h4 {
  margin-bottom: 0;
}
@media(min-width: 992px) {
  .stretcher-wrapper .stretcher .stretcher-item figure {
    padding: 20px 30px;
  }
}
.stretcher-wrapper .stretcher .stretcher-item:hover figure {
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(2, 2, 2);
}
#magazines{
  display: none;
}
@media(min-width: 992px) {
  .stretcher-wrapper .stretcher {
    height: 500px;
    white-space: nowrap;
  }
  .stretcher-wrapper.stretcher-wrapper-frontpage .stretcher {
    height: 100vh;
  }
  .stretcher-wrapper.stretcher-wrapper-frontpage .stretcher .stretcher-item figure {
    bottom: 20%;
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    overflow: hidden;
    padding: 50px 30px;
  }
  .stretcher-wrapper.stretcher-wrapper-frontpage .stretcher .stretcher-item:hover figure {
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.magazine-animation{
  position:relative;
  animation: animateleft 3.5s;
}