@import "../variables/_colors.scss";


.container1{
  background-color:  $color-primary;
}

.container14{
  width: 970px;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}







.col-centered {
  float: none;
  margin: 0 auto;
}

.carousel-control {
  width: 8%;
}
.carousel-control.left,
.carousel-control.right {
  margin-right: 40px;
  margin-left: 22px;
  background-image: none;
}
.carousel-control > a > span {
  color: white;
  font-size: 29px !important;
}

.carousel-col {
  position: relative;
  min-height: 1px;
  padding: 5px;
  float: left;
  width: 306px;
  text-align: center;
}
.active > div { display:none; }
.active > div:first-child { display:block; }



  .carousel-inner .active.left { left: -50%; }
  .carousel-inner .active.right { left: 50%; }
  .carousel-inner .next        { left:  50%; }
  .carousel-inner .prev		     { left: -50%; }
  .carousel-col                { width: 50%; }
  .active > div:first-child + div { display:block; }


.block {
  width: 280px;
  height: 280px;
}
.block:hover{
  transform: scale(1.1);
  transition: 0.5s ease-in;
}
//.portfolio1:before {
//  position: relative;
//  top: .1em;
//  display: block;
//  width: 20%;
//  max-width: 100px;
//  height: 4px;
//  margin-left:47%;
//  content: '';
//  background-color: #20fdc3;
//}

.img-responsive{
  margin-left:auto;
  margin-right:auto;
  overflow: hidden;
 }
.image{
  width:400px;
  height:350px;
  border-radius: 100%;
}
//#carousel-demo .item{
//  //box-shadow:0 0 20px black;
//  -moz-box-shadow:    3px 3px 2px 2px #000;
//  -webkit-box-shadow: 3px 3px 2px 6px #000;
//  box-shadow:         3px 3px 2px 2px #000;
//}