@import "../variables/_colors.scss";
.scale:hover{
  transform: scale(1.3);
  transition: .2s ease-in;
}
.container3,
.container-7{
  background-color: $color-primary;
}
.services-animation h1{
  color: #212121;
  margin-right: 15%;
  font-size: 40px;
  font-weight: 500;
}
.scale{
  width: 92px;
  height: 90px
}
.services-animation p{
  color: #000026;
  font-size: 24px
}