.scrollToTop{
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  background: #25ffd5;
  cursor: pointer;
  width: 60px;
  height: 70px;

}
.scrollToTop:hover{
  background-color: #32283C;
  color:white;
}
.arrow{
  font-size: 30px;
}