@import url('https://fonts.googleapis.com/css?family=Righteous');
@import "../variables/_colors";
$color-background: #F5F5F5;
$color-main: #33133F;
$color-active: #FFF;
$color-link: #FFF;

$button-height: 27px;
$button-width: 35px;

.navbar-header {
  float: none;
}
.navbar-brand{
  margin-left: 14%;
  margin-top: -2vh;
}
.navbar-toggle {
  display: block;
  margin-right: 17%;
  background-color: transparent;
  margin-top: 3vh;
}
.navbar-collapse{
  height: 100% !important;
}
.navbar-collapse.collapse {
  display: block!important;
}
.navbar-nav {
  float: none!important;
}
.navbar-nav>li {
  float: none;
}
.navbar-collapse.collapse.in{
  display:block !important;
}
.navbar {
  background: transparent;
  border-bottom: none;
  transition-duration: 0.6s;
}
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav>li>a {
  color: #FFFFFF;
}
.navtxt{
  font-family: deceptibots;
  letter-spacing: 5px;
  margin-top:3vh;
}
.overlay {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  opacity: 0.95;
  background: $main-color;
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  width: 100%;
  text-align: center;
  height: auto;
  margin-top: 12%;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 50px;
  right: 45px;
  color: #00AF8D;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
.social-icons{
  font-size:20px;
  margin-top: 7%;
  margin-left: 1%
}
.social-icons  a{
  color:white;
  border:none;
}
.social-icons  a.fa-instagram:hover {
  background: $dark-pink;
}
.social-icons  a.fa-twitter:hover{
  background: $light-blue;
}
.social-icons a.fa-facebook:hover{
  background: $dark-blue;
}
.social-icons  a.fa-envelope:hover{
  background: $dark-red;
}
.social-icons  a.fa-youtube:hover{
  background: $light-red;
}



/* jQuery Styles
===================================*/
.navbar-scroll {
  padding: 0;
  background: $main-color;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
  transition-duration: 2s;
  margin-left: -15%;
  margin-right: -20%;
  transition: 2s ease-in-out;
}
.nav-dropdown-scroll {
  background: #e7eaea;
  box-shadow: 0px 10px 9px rgba(0, 0, 0, 0.4);
}
@media (max-width: 367px){
  .navbar-scroll{
    margin-left:auto;
    margin-right:auto;
  }
  .navbar-brand{
    margin-left:0;
  }
  .navbar-toggle{
    margin-right:0;
  }
}
