@import "../variables/_colors.scss";
.modal-content{
  width:650px;
  height:auto;
  background-color: transparent;
  margin-left: -2%;
  padding-right: 2%;
}
.videobtn ,
.videobtn:active{
  position: relative;
  z-index: 50;
  margin-right: auto;
  margin-left: auto;
  background-color:#00f2ca !important;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
}
.close{
  color: white;
  font-size:30px;
  margin-left: 10%;
  margin-bottom: 2.6vh;
}
.close:hover{
  color: white;
}
.align-center{
  margin-top: 5vh;
}