@import "../../assets/variables/_colors.scss";
.modal-content{
  width:650px;
  height:auto;
  background-color: transparent;
  margin-left: -2%;
  padding-right: 2%;
}
.videobtn ,
.videobtn:active{
  position: relative;
  z-index: 50;
  margin-right: auto;
  margin-left: auto;
  background-color:#00f2ca !important;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  //padding: 6px 12px;
  font-size: 14px;
  border-radius: 4px;
}
.button:hover{
  color: #1A847A;
}