@import "../variables/_colors.scss";
.wave{
  content: '';
  position: absolute;
  top: 58%;
  left: 50%;
  width: 270vw;
  height: 290vw;
  margin-left: -145vw;
  transform-origin: 50% 50%;
  background-color: $color-primary;
  border-radius: 48% 52%;
  animation: spin 41s infinite linear;
  z-index: 10;
}
@keyframes  spin {
  100% { transform: rotate(360deg); }
}
