//#pageWrapper{
//  //background-color: #009dcd;
//  position: fixed;
//  width: 100%;
//  height: 100%;
//  padding: 0;
//  margin:0;
//}
.wave{
  content: '';
  position: absolute;
  top: 50%;
  left: 60%;
  width: 210vw;
  height: 250vw;
  margin-left: -125vw;
  transform-origin: 50% 50%;
  background-image: linear-gradient(to right, #ece9e6, #ffffff);
  border-radius: 38% 42%;
  box-shadow: inset 0 0 10vw rgba(255,255,255,0.5);
  animation: spin 41s infinite linear;
  z-index: 10;
}

//.wave::before {
//  width: 105%;
//  height: 95%;
//  margin-top: -125vw;
//  transform-origin: 49% 51%;
//  background-image:linear-gradient(to right, #ece9e6, #ffffff) ;
//  border: 1px solid #e0e0e0;
//  border-radius: 40% 38%;
//  animation: spin 38s infinite linear;
//}

//.wave::after {
//  width: 102%;
//  height: 98%;
//  margin-top: -125vw;
//  transform-origin: 51% 49%;
//  background-image: linear-gradient(to right, #ece9e6, #ffffff);;
//  border-radius: 48% 42%;
//  animation: spin 35s infinite linear;
//}
//.wave1,
//.wave1::before,
//.wave1::after {
//  content: '';
//  position: absolute;
//  top: 50%;
//  left: 50%;
//  width: 250vw;
//  height: 260vw;
//  margin-left: -125vw;
//  transform-origin: 50% 50%;
//  background-image: linear-gradient(to right, #ece9e6, #ffffff);;
//  border-radius: 38% 42%;
//  box-shadow: inset 0 0 10vw rgba(255,255,255,0.5);
//  animation: spin 43s 2s infinite linear;
//  z-index: 10;
//}

//.wave1::before {
//  width: 105%;
//  height: 95%;
//  margin-top: -125vw;
//  transform-origin: 49% 51%;
//  background-image: linear-gradient(to right, #ece9e6, #ffffff);;
//  border-radius: 40% 38%;
//  animation: spin 39s 4s infinite linear;
//}

//.wave1::after {
//  width: 102%;
//  height: 98%;
//  margin-top: -125vw;
//  transform-origin: 51% 49%;
//  background-image: linear-gradient(to right, #ece9e6, #ffffff);;
//  border-radius: 48% 42%;
//  animation: spin 37s 6s infinite linear;
//}

@keyframes  spin {
  100% { transform: rotate(360deg); }
}

/***button***/
.wrapper {
  display: table;
  margin: 0 auto;
}
//.container {
//  display: table-cell;
//  vertical-align: middle;
//  padding: 1em 0 1em;
//  padding: 30px;
//  margin: 0 auto; }


//button {
//  background-color: #F86F8B;
//  border: none;
//  margin: 0 auto;
//  display: block;
//  border-radius: 15px;
//  color: #fff;
//  padding: 1rem 1.6rem;
//  font-size: 16px;
//  font-weight: 400;
//  letter-spacing: .03em;
//  position: relative;
//  -webkit-animation: button-bounce 2200ms forwards infinite cubic-bezier(0.165, 0.84, 0.44, 1);
//  -moz-animation: button-bounce 2200ms forwards infinite cubic-bezier(0.165, 0.84, 0.44, 1);
//  animation: button-bounce 2200ms forwards infinite cubic-bezier(0.165, 0.84, 0.44, 1);
//  -webkit-transition: background-color 0.3s ease;
//  -moz-transition: background-color 0.3s ease;
//  transition: background-color 0.3s ease; /*&:before */ /*&:hover:before,*/ }
//button:hover {
//  background-color: #f7899f; }
//button:focus {
//  outline: none; }
//button:after {
//  background-color: #F86F8B;
//  content: "";
//  position: absolute;
//  left: 0px;
//  top: 0px;
//  width: 100%;
//  height: 100%;
//  border-radius: 5px;
//  -webkit-animation: button-blip 2200ms forwards infinite cubic-bezier(0.215, 0.61, 0.355, 1);
//  -moz-animation: button-blip 2200ms forwards infinite cubic-bezier(0.215, 0.61, 0.355, 1);
//  animation: button-blip 2200ms forwards infinite cubic-bezier(0.215, 0.61, 0.355, 1); }
//button:hover:after {
//  border-color: transparent; }
//@-webkit-keyframes button-bounce {
//  0% { transform: scale(1);
//  }
//  10% { transform: scale(0.96); }
//  20% { transform: scale(1.04); }
//  52%, 100% { transform: scale(1); }
//}
//@-moz-keyframes button-bounce {
//  0% { transform: scale(1); }
//  10% { transform: scale(0.96); }
//  20% { transform: scale(1.04); }
//  52%, 100% { transform: scale(1); }
//}
//@keyframes button-bounce {
//  0% { transform: scale(1); }
//  10% { transform: scale(0.96); }
//  20% { transform: scale(1.04); }
//  52%, 100% { transform: scale(1); }
//}
//@-webkit-keyframes button-blip {
//  0% { transform: scaleX(1) scaleY(1); opacity: 0; }
//  10% { transform: scaleX(1) scaleY(1); opacity: .7; }
//  30%, 99% { transform: scaleX(1.08) scaleY(1.35); opacity: 0; }
//  100% { transform: scaleX(1) scaleY(1); opacity: 0; }
//}
//@-moz-keyframes button-blip {
//  0% { transform: scaleX(1) scaleY(1); opacity: 0; }
//  10% { transform: scaleX(1) scaleY(1); opacity: .7; }
//  30%, 99% { transform: scaleX(1.08) scaleY(1.35); opacity: 0; }
//  100% { transform: scaleX(1) scaleY(1); opacity: 0; }
//}
//@keyframes button-blip {
//  0% { transform: scaleX(1) scaleY(1); opacity: 0; }
//  10% { transform: scaleX(1) scaleY(1); opacity: .7; }
//  30%, 99% { transform: scaleX(1.08) scaleY(1.35); opacity: 0; }
//  100% { transform: scaleX(1) scaleY(1); opacity: 0; }
//}
.scrolls{
  display: block;
  overflow-y: auto;
  border: 0;
  height: 100%;
  padding: 0;
  margin: 0 auto;
  position: relative;
}
