.wave{
  content: '';
  position: absolute;
  top: 55%;
  left: 60%;
  width: 270vw;
  height: 290vw;
  margin-left: -145vw;
  transform-origin: 50% 50%;
  background-color: #e6e6ff;
  border-radius: 48% 52%;
  box-shadow: inset 0 0 10vw rgba(255,255,255,0.5);
  animation: spin 51s infinite linear;
  z-index: 1;
}
@keyframes  spin {
  100% { transform: rotate(360deg); }
}
