
.wave{
  content: '';
  position: absolute;
  top: 50%;
  left: 60%;
  width: 210vw;
  height: 250vw;
  margin-left: -125vw;
  transform-origin: 50% 50%;
  background-image: linear-gradient(to right, #ece9e6, #ffffff);
  border-radius: 38% 42%;
  box-shadow: inset 0 0 10vw rgba(255,255,255,0.5);
  animation: spin 41s infinite linear;
  z-index: 10;
}

@keyframes  spin {
  100% { transform: rotate(360deg); }
}
