$color-primary: #1287A5;
$color-secondary: #758AA2;
$light-grey: rgba(255, 255, 255, 0.5);


$grey:#333333;
$dark-pink:#ef4d7d;
$v-light-blue:#2baae2;
$light-red:#f63d26;
$dark-red:#c3181c;
$dark-blue:#395794;
$light-blue:#0078B1;
$gradient:#ZZXXX1e90ff;
$main-color:#1e90ff;
$light-black:#151515;
$purple:#9c27b0;
$dark-grey:rgba(0, 0, 0, 0.2);
$mag-color:rgba(0,38,57,.5);
